@charset "UTF-8";

/*Tipical Device Breskpoint:
Para telas pequena: até 600px
Para telas Celular : de 600px até 768px
Para telas tablet : de 768px até 992px
para telas Desktop : 992px até 1200px
Para telas Grande : acima de 1200px */

@media screen and (min-width: 768px) {
    span#hamburguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        width: 150px;
        text-align: left;
    }

    main {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    a {
        width: 100px;
    }

    menu {
        padding-left: 5px;
    }
}